#bg{
    
    background-repeat: no-repeat;
    background-position: top;
    background-size: 1600px 950px;
    background-attachment: fixed;
}
h1{
    text-align: center;
    color: black;
}